- var siteTool = config.siteTools[toolsItemIndex];
if siteTool != null
	li.mb-2
		span(title=siteTool.desc, data-toggle="tooltip")
			i.mr-1.fa-sm(class=siteTool.fontawesome, style="width: 24px;")
		a(href=siteTool.url)
			span.text-white #{siteTool.name}
