extends layout

block headContent
	+title('Home')

block content
	if (blockChainInfo == null)
		div.alert.alert-warning
			p.font-weight-bold Unable to get basic blockchain data
			ul
				li If you just started your node, it may still be initializing.
				li If your node is already initialized, check your RPC connection info.
	else

		if (config.demoSite && session.hideHomepageBanner != "true")
			div.alert.alert-primary.alert-dismissible.shadow-sm.mb-3(role="alert")
				span
					span.font-weight-bold #{coinConfig.siteTitlesByNetwork[activeBlockchain]}
					span  is 
					a(href="https://gitlab.com/nexa/explorer", target="_blank") open-source
					span  and easy to set up. It can communicate with your 
					a(href=coinConfig.nodeUrl, target="_blank") #{coinConfig.name} Full Node
					span  via RPC. See the 
					a(href="https://gitlab.com/nexa/explorer", target="_blank") project description
					span  for a list of features and instructions for running.

				if (global.sourcecodeProjectMetadata)
					div.mt-2
						a.btn.btn-primary.btn-sm.mr-3.mb-1(href="https://gitlab.com/nexa/explorer")
							i.fas.fa-star.mr-2
							span.mr-2 Star 
							span.badge.bg-white.text-dark #{global.sourcecodeProjectMetadata.stargazers_count}

						a.btn.btn-primary.btn-sm.mr-3.mb-1(href="https://gitlab.com/nexa/explorer/fork")
							i.fas.fa-code-branch.mr-2
							span.mr-2 Fork 
							span.badge.bg-white.text-dark #{global.sourcecodeProjectMetadata.forks_count}

						if (!crawlerBot)
							button.btn.btn-primary.btn-sm.mb-1(type="button", data-toggle="modal", data-target="#exampleModalCenter")
								i.fas.fa-heart.mr-2
								span Support Project

				a.close(href="/changeSetting?name=hideHomepageBanner&value=true", aria-label="Close", style="text-decoration: none;")
					span(aria-hidden="true") &times;

		if (blockChainInfo.initialblockdownload)
			div.alert.alert-warning.shadow-sm.border.mb-3
				div.font-weight-bold.mb-1 Initial Block Download (IBD) - In Progress...

				div.mb-1 Your node is currently downloading and verifying blockchain data. Until the process is finished, some features of this tool will be unusable and/or unreliable.

				span.font-weight-bold Progress: 
				span.text-monospace #{new Decimal(blockChainInfo.verificationprogress).times(100).toDP(3)}%


		div.row.mt-5.mt-md-3
			- var summaryColCount = 8;
			if (exchangeRates)
				- summaryColCount = 9;

			div.mb-3(class=`col-xxl-${summaryColCount}`)
				div.row.mb-3 
					div.col
						h4.mb-0.text-bold Network Summary
				div.card.shadow-sm(style="min-height: 253px;")
					div.card-body.px-2.px-sm-3
						include includes/index-network-summary.pug

			div.mb-3(class=`col-xxl-${12 - summaryColCount}`)
				div.row.mb-3 
					div.col
						h4.mb-0.text-bold Tools
					div.col.text-right
						button.btn.btn-primary.btn-sm
							a(href="/tools").text-white See more &raquo;
				div.card.shadow-sm
					div.card-body.px-2.px-sm-3
						include includes/tools-card.pug


		div.row.mt-3
			div.col
				div.row.mb-3 
					div.col
						h4.mb-0.text-bold Latest Blocks

					div.col.text-right.text-bold
						button.btn.btn-primary.btn-sm
							a(href="/blocks").text-white See more &raquo;
						
				div.card.shadow-sm
					div.card-body.px-2.px-sm-3
						- var blockOffset = 0;

						include includes/blocks-list.pug


		div.row.mt-5
			div.col
				div.row.mb-3
					div.col
						h4.mb-0.text-bold Top Tokens

					div.col.text-right.text-bold
						button.btn.btn-primary.btn-sm
							a(href="/tokens").text-white See more &raquo;
				div.card.shadow-sm.table-hidden
					div.card-body.px-2.px-sm-3
						table.table.table-striped.table-responsive.mb-0.table-hidden.table-responsive
									thead 
										tr
											th.data-header.text-left
												span.font-weight-bold Name
											th.data-header.text-left
												span.font-weight-bold Transfers
											th.data-header.text-left
												span.font-weight-bold Holders
											th.data-header.text-left
												span.font-weight-bold Supply
									tbody
										each token in topTenTokens
											tr
												td.data-cell.text-monospace.text-left
													span
														a(href=("/token/" + token.groupId))(title=token.groupId, data-toggle="tooltip") #{token.name} (#{token.ticker})
												td.data-cell.text-monospace.text-left
													span #{token.totalTransfers}
												td.data-cell.text-monospace.text-left
													span #{token.holders}
												td.data-cell.text-monospace.text-left
													span #{token.maxSupply}
				div.list-hidden
					each token in topTenTokens
						.card(style='width: 100%;').mb-2
							.card-body(style='background-color: #282d33 !important;')
								h5.card-title
									- var isTokenTrusted = utils.knownTokens().includes(token.groupId);
									if(isTokenTrusted && token.documentInfo)
										img.m-1.rounded(src=token.documentInfo.icon, alt="", width=24)
									span #{token.name} 
								
								p.card-text
									span
										a(href=("/token/" + token.groupId)) #{token.groupId}
							ul.list-group.list-group-flush
								li(style='background-color: #282d33 !important;display: flex; justify-content:space-between;').list-group-item
									span Transfers
									span #{token.totalTransfers}
								li(style='background-color: #282d33 !important;display: flex; justify-content:space-between;').list-group-item
									span Holders
									span #{token.holders}
								li(style='background-color: #282d33 !important;display: flex; justify-content:space-between;').list-group-item
									span Max Supply
									span #{token.maxSupply} (#{token.ticker})
								

		if (txStats)
			div.row.mt-5
				div.col
					div.row
						div.col.mb-3
							h4.mb-0.text-bold Transaction Stats

						div.col.text-right.text-bold
							button.btn.btn-primary.btn-sm
								a(href="/tx-stats").text-white See more &raquo;
							
					div.card.shadow-sm
						div.card-body.px-2.px-sm-3
							div.row
								div.col-lg-6
									div.table-responsive
										table.table.text-right.mb-3.mb-lg-0
											thead
												tr
													th Period
													th Transactions
													th Transactions Per Sec
											tbody
												each item, index in chainTxStats
													tr.text-monospace
														td #{chainTxStatsLabels[index]}
														td #{item.window_tx_count.toLocaleString()}
														td #{new Decimal(item.txrate).toDecimalPlaces(4)}


								div.col-lg-6
									h4.h6.text-center Tx Rate, 24hr

									script var txRateDataDay = [];
									each item, index in txStats.txCountStats.txRates
										script txRateDataDay.push({x:#{item.x}, y:#{item.y}});

									- var graphData = {id:"graphRateDay", dataVar:"txRateDataDay", labels:txStats.txCountStats.txLabels, title:"Tx Rate, 24hr", xaxisTitle:"Block", xaxisStep:5, yaxisTitle:"Tx Per Sec"};
									include ./includes/line-graph.pug


block endOfBody
	- var reloadPollUrl = `/api/check-for-new-block/${blockChainInfo.blocks}`;
	include includes/reload-poll.pug
